/*<!--    // Стилизация проекта - -->*/
/*<!--    // post-details.html - блок с информацией про пост вверху. Комментарии - по 4 в ряд.-->*/
/*<!--    // Все без исключения элементы, который характеризируют user,post,comment  визуализировать,*/
/*           так, что бы было видно их блоки (дать задний фон + margin. Иными словами - крайне четкая сетка)-->*/

.postUser{
    background: aquamarine;
    border: 3px solid deepskyblue;
    border-radius: 10px;
    text-align: center;
}

h3{
    margin: 20px 20px 10px 20px;
    background: silver;
    font-size: 20px;
    border-radius: 25px;
}

.commentsUser{
    width: 100%;
    display: flex;
}

.divComment{
    width: 24%;
    margin: 0.5%;
    background: aquamarine;
    border: 3px solid deepskyblue;
    border-radius: 10px;
}
h3{
    text-align: center;
}

p{
    font-size: 18px;
}